/*
Projet UE 2.3 Intégration web de la maquette à l’encodage HTML
Author: Passeri Mario
Site web d'un artiste compositeur, souhait d'avoir un site web pour communiquer sur ces réalisations
Version: 1.0.0
*/

/* Variables globale */

$background-color_site: #3B444C;
$color_site: #ffff;
$progress: #ec7168, #a356e1;

@font-face {
  font-family: Libre Baskerville;
  src: url("../../assets/fonts/LibreBaskerville-Italic.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  background-color: $background-color_site;
  color: $color_site;
  font-family: 'Libre Baskerville', serif;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* css grid */
.item1 {
  grid-area: card1;
}
.item2 {
  grid-area: paragraphe1;
}

.grid-container {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

#progress{
  background-image:  linear-gradient(to right, $progress);
  height: 5px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* header */

$color_nav: #ffff;
$color_nav-hover: #ec7168;
$background-color-header: #ec7168, #a356e1;

.art-header{
  position: absolute;
  left: 80%;
  transform: translateX(-50%);
  width: 250px;
}

header{
  background-image:  linear-gradient(to right, $background-color-header);
  padding-bottom: 5px;
  margin-bottom: 100px;
  height: 400px;

  img{
      width: 130px;
      margin-top: 50px;
    }

    h1{
      text-align: center;
      margin-top: -60px;
      font-size: 3rem;

    }

    nav{

      ul {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 150px auto;
        list-style: none;

        a{
          color: $color_nav;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.5rem;
          text-decoration: none;
        }

        a:hover{
          border-bottom: 2px solid $color_nav;
        }
    }
  }
}

/* end */

/*main */

.flex-section{
  display: flex;
  justify-content: space-around;
  margin: 10px 0 -70px 0;

  .p{
    font-size: 1.8rem;
    width: 55%;
    padding: 100px 30px;
    margin-top: 80px;
    line-height: 30px;
  }

  .h2{
    font-size: 2rem;
    width: 80%;
    padding: 100px;
    margin-top: 80px;
  }

}

/* Carte de présentation */

$background-color_card: #3B444C;
$shadow-card: #2d3539;
$color-h2-p: #ffff;
$color-gradient-button: #ec7168, #a356e1;

.card {
    border-bottom: 1px solid $background-color_card;
    background-color: $background-color_card;
    filter: drop-shadow(10px 10px 4px $shadow-card);
    max-width: 310px;
    border-radius: 5px;

    img {
      width: 100%;
      max-width: 310px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    h2 {
      color: $color-h2-p;
      margin: 20px auto;
      padding: 10px;
      text-align: center;
    }

    p {
      color: $color-h2-p;
      width: 90%;
      margin: 20px auto;
      padding: 10px;
      line-height: 20px;
      font-size: 1.2rem;
    }

    .button {
      color: $color-h2-p;
      background-image:  linear-gradient(to right, $color-gradient-button);
      display: block;
      border-radius: 20px;
      width: 85%;
      margin: 20px auto;
      text-align: center;
      padding: 10px;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.3rem;
    }

    .button:hover {
      background-size: 400% 400%;
      -webkit-animation: Animation_button_card 4s ease infinite;
      -moz-animation: Animation_button_card 4s ease infinite;
      animation: Animation_button_card 4s ease infinite;
    }

    @-webkit-keyframes Animation_button_card {
      0%{background-position:0 52%}
      50%{background-position:100% 49%}
      100%{background-position:0 52%}
    }

    @-moz-keyframes Animation_button_card {
      0%{background-position:0 52%}
      50%{background-position:100% 49%}
      100%{background-position:0 52%}
    }

    @keyframes Animation_button_card {
      0%{background-position:0 52%}
      50%{background-position:100% 49%}
      100%{background-position:0 52%}
    }
}

/* end */

/* Vidéo animate */

$color-gradient-video: #ec7168, #a356e1;
$shadow-video: #2d3539;


.video-wrapper {
  position: relative;
  width: 600px;
  margin: 0 0 80px 0;
  filter: drop-shadow(15px 15px 4px $shadow-video);
}

@media only screen and (min-width: 1101px) and (max-width: 1500px) {
  .video-wrapper {
    position: relative;
    width: 500px;
    margin: 40px 0 50px 150px;
    filter: drop-shadow(15px 15px 4px $shadow-video);
  }
}

.video-wrapper > video {
  width: 100%;
  vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.video-overlay-play-button {
  background-image:  linear-gradient(to right, $color-gradient-button);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 150ms;
}

.video-overlay-play-button.is-hidden {
  display: none;
}

/* end */

/* footer */

/* Lecteur audio */

$background-color-audio: #F9F3E4;
$shadow-audio: #2d3539;

footer {
  padding-bottom: 40px;

  h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 70px auto 30px auto;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    margin: 150px 0 20px 0;
    line-height: 30px;
  }

}

.box {
  position: relative;

  audio{
    width: 100%;
    position:relative;

  }

  #card-container1, #card-container2 {
    position: relative;
    margin: 30px;
    width: 200px;
    height: 200px;
    float: left;
    perspective: 1000px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  #card, #card2 {
    width: 100%;
    height: 100%;
    margin: 10%;
    transform-style: preserve-3d;
    transition: all .8s linear;
    box-shadow: 10px 10px 4px $shadow-audio;
    cursor: pointer;

  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    opacity: 0.6;
    z-index: 11;
    background: $background-color-audio;
  }

  .transform{
    transform: rotateY(-180deg);
  }
}

.play-song{
  width: 25px;
  transform: scale(2);
  margin-left: 10px;
  color: black;
}

@media only screen and (min-width: 290px) and (max-width: 450px) {
  .play-song{
    display: block;
    margin: 40px auto ;
    width: 25px;
    transform: scale(2);
    color: black;
  }
}

/* Page Audio */

$player-height: 190px;
$player-width: 430px;

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player {
  margin: 10pc 0 10px 0;
  height: $player-height;
  width: $player-width;
  background-color: #1E2125;
  position: relative;
  padding: 20px 0;
  @include unselectable();
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  img {
    height: $player-height;
    width: $player-height;
  }
}

.info {

  h1 {
    margin-top: 15px;
    margin-left: 180px;
    line-height: 0;
  }

  h4 {
    margin-left: 180px;
    line-height: 20px;
    color: #636367;
  }

  h2 {
    margin-left: 180px;
  }
}

.button-items {
  margin-left: 180px;
}

.controls {
  margin-top: 20px;


  svg:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@for $i from 1 through 10 { /* Boucle For Audio */

  #play#{$i} {
    width: 30px;
    height: 30px;
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;

    g {
      stroke: #FEFEFE;
      stroke-width: 1;
      stroke-miterlimit: 10;

      path {
        fill: #FEFEFE;
      }
    }
  }

  #lecture#{$i}{
    display: none;
  }

  #play#{$i}:hover {
    cursor: pointer;
    g {
      stroke: #8F4DA9;
      cursor: pointer;

      path {
        fill: #9b59b6;
        cursor: pointer;
      }
    }
  }

  #pause#{$i}{
    x: 0px;
    y: 0px;
    enable-background: new 0 0 25 25;
    width: 30px;
    height: 30px;
    position: absolute;

    cursor: pointer;

    rect {
      fill: white;
    }
  }

  #pause#{$i}:hover rect {
    fill: #8F4DA9;
  }

}

/* Page Contact */

#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/* ------------------------------------------ Format mobile -------------------------------------------------------- */


@media only screen and (min-width: 290px) and (max-width: 1100px) {

  header{
    height: 650px;
    margin-bottom: 80px;
  }
  .container{
    width: 90%;
  }

  .card {
    margin: 0 auto;
  }

  /* css grid */
  .item1 {
    grid-area: card1;
  }
  .item2 {
    grid-area: paragraphe1;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
    'paragraphe1'
    'card1';
  }
  /* end */

  .art-header{
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
    width: 200px;
  }

  header{

    img{
      width: 150px;
      margin: 100px auto 0 auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    h1{
      text-align: center;
      margin-top: 100px;
      font-size: 3rem;
    }

    nav{

      ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 150px -10px 150px -20px ;
        list-style: none;

        a:hover, a:active{
          border-bottom: 2px solid $color_nav;
        }
      }
    }
  }

  .flex-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;

    .p{
      font-size: 1.8rem;
      width: 85%;
      padding: 30px 0;
      margin: -80px auto 10px auto;
      line-height: 30px;
    }

    .h2{
      font-size: 2rem;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      margin: -40px auto 30px auto;
    }

  }

  .video-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
    filter: drop-shadow(15px 15px 4px $shadow-video);
  }

  .box {

    #card-container1, #card-container2 {
      margin: 30px auto;
      width: 200px;
      height: 200px;
      transform: translateX(-10%);
    }

    #card-container2{
      margin-bottom: -50px;
    }

    img{
       margin: auto auto;
       width: 100%;
     }

  }

  footer {
    padding-bottom: 20px;

    h2 {
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto 30px auto;
    }
  }

/* Page Audio*/

  .player {
    width: 100%;
  }
}